<!DOCTYPE html>
<html>

<head>
    <title>Home page</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../../assets/stylesheets/homePage.css">    
</head>

<body>
   
        <div class="container ">
            <div class="row" >
                    <div class="col-lg-6 form-group">
                            <fieldset class="the-fieldset">
                                <legend class="the-legend">Latest Order</legend>
                                <a href="#">Launch on 31/5/2005</a><br>
                                <a href="#">Launch on 31/5/2005</a>
                            </fieldset>
                        </div>
        
                        <div class="col-lg-6 form-group">
                            <fieldset class="the-fieldset">
                                <legend class="the-legend">Friends Activity</legend>
                                <a href="#">aya</a> has created <a href="#"> an order </a> for launch from
                                <a href="#"> Mac </a><br> 
                            </fieldset>
                        </div>
            </div>
               
       
        </div>
            
   

</body>

</html>