
    <%= render 'navbar' %>
    <div class="container">
        <div class="row justify-content-around text-center">
            <div class="col-5 block">
                <div class="title">
                    <h5 class="titleText">Latest Orders</h5>
                </div>
            </div>
            <div class="col-5 block">
                <div class=" title">
                        <h5 class="titleText">Friends Activities</h5>

                </div>
            </div>
        </div>
    </div>
