<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../../assets/stylesheets/home.css">
</head>

<body>
    <%= render 'navbar' %>
    <div class="container">
        <div class="row justify-content-around text-center">
            <div class="col-5 block">
                <div class="title">
                    <h5 class="titleText">Latest Orders</h5>
                </div>
            </div>
            <div class="col-5 block">
                <div class=" title">
                        <h5 class="titleText">Friends Activities</h5>

                </div>
            </div>
        </div>
    </div>
</body>

</html>