<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>autocomplete</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
<br>
    <div style="width: 50%; margin-left: 10%">
        <input  id="friendName" type="text"
               placeholder="enter your name friend" value="" />
        <span id="errorMsg"></span> <br>
    </div>
    <div style="text-align: center;width: 50%; margin-left: 10%"
         class="invited">
    </div>
    <script src="autocom.js"></script>
</body>
</html>