body{
    /* height: 100vh; */
    background-color: #E8EBEF;
}
.tablesList{
    border: 1px solid #000;
    border-radius: 10px;
    min-height: 60vh;
    background-color: rgb(9, 82, 95);
}
#singleGroup{
    border: 1px solid #000;
    border-radius: 10px;
    min-height: 60vh;
    margin-left: 5%;
    background-color:rgb(9, 82, 95);;
    display: block;
}
.rmUserFromGroup{
    font-size: 14px;
}
.groupName{
    cursor: pointer;
    font-size: 1.5em;
    color: white;
}
.fr_name{
    font-size: 1.5em;
    color: white; 
}