#notificationsCount{
margin-top:-35px;
color:#E84700
}
#notificationIcon:hover{
    cursor: pointer;
}
#notificationsBox{
    position: absolute;
    display: none;
    margin-top:30px;
    margin-left: -360px;
    width: 390px;
    min-height: 100px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 3px; 
    padding: 10px 15px;
}
#notifications{
    padding-left: 20px;
}
#notifications li{
    margin: 8px 0;
}
#notifications li button{
    margin-left: 10px;
}

#notificationsBox div {
    min-height: 45px;
}