
.the-legend {
    border-style: none;
    border-width: 0;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    width: auto;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
    font-family: cursive;
    font-size: 20px;

  
}
.the-fieldset {
    border: 1px solid #e0e0e0;
    width: 100%;
    padding: 10px;
    float: left;   
    font-family: sans-serif;
    font-size: 20px;
}
a{
    text-decoration:none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.btn.btn-primary{
    width: 100px;
    margin: 7px -50px;
    position: relative;
    top: 50%;
    left: 50%;
}
form{
    margin-left: 4%;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.25rem;
}