body{
  overflow: hidden;

  display: block;
  position: relative;
  background-color: #555;
}
body::after {
  content: "";
  background: blue url("https://image.freepik.com/free-photo/fresh-vegetables-eggs-chopping-bell-pepper-black-wood-background_1150-4681.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.7;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}



.login-form {
  width: 500px;
  border-radius: 25px;

  margin: 0 auto;
  padding: 30px 0;
  height: 1000px;
  
}
.login-form form {
  margin-bottom: 15px;
  background: #FFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
  height: 500px;
  border-radius: 20px;

 
}
.login-form h2 {
  margin: 0 0 15px;
}
.form-control, .btn {
  min-height: 38px;
  border-radius: 2px;
}
.btn {
  font-size: 15px;
  font-weight: bold;
}
.reset-form{
  width:50%;
  margin: auto;
  
}