body{
    height: 100vh;
    background-color: #E8EBEF;
}
.tablesList{
    border: 1px solid #000;
    border-radius: 10px;
    min-height: 60vh;
    background-color: #f4f5f7;
}
#singleGroup{
    border: 1px solid #000;
    border-radius: 10px;
    min-height: 60vh;
    margin-left: 5%;
    background-color: #f4f5f7;
    display: none;
}
.rmUserFromGroup{
    font-size: 14px;
}
.groupName{
    cursor: pointer;
}